@import '../../styles/app.module';

.process {

  &Title {
    font-weight: 800;
  }

  &Block {
    background-color: white;
    padding: 90px 0 120px;
    padding-bottom: 0;
  }

  &Image {
    width: 66vw;
    height: calc(66vw * 0.6);
    position: absolute;
    left: -8.33vw;
    top: 20px;
    @include for-tablet-landscape-up {
      width: 19vw;
      height: calc(19vw * 0.6);
      top: 60px;
    }

    .toolkit_svg_accented {
      fill: red;
    }

  }

  &Container {
    @include container;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin: 0;
    padding-top: calc((66vw * 0.6) + 60px);

    @include for-tablet-landscape-up {
      margin: 60px 0 80px 16.66vw;
      padding-top: 50px;
    }
  }

  &Item {
    width: 100%;
    padding-bottom: 60px; 
    @include for-tablet-landscape-up {
      width: 50%;
      padding-right: 60px;
      padding-bottom: 90px;
    }

    &Title {
      font-size: 34px;
      line-height: 40px;
      color: $light-blue;
      font-weight: 800;
      background: white;
      padding: 10px 0 0;
      margin: 0 0 0;
    }

    &Desc {
      font-size: 17px;
      line-height: 26px;
      margin: 10px 0 0;
      color: rgba(51, 51, 51, 0.9);
      width: calc(100% - 20px);
      padding-bottom: 20px;
    }

    &Link {
      font-size: 17px;
      line-height: 26px;
      text-decoration: none;
      font-weight: 800;
      color: $light-blue !important;
    }

  }

}

.pageSectionTitle {
  top: -45px !important;
}
