@import '../../styles/app.module';

$header-link-color: var(--header-link-color, $primary);
$header-nested-link-color: var(--header-nested-link-color, white);
$header-link-underscrore-color: var(--header-link-underscrore-color, $accent);

@mixin navlink-underscore($height) {
  &::after {
    transition: all 0.2s ease;
    content: '';
    position: absolute;
    width: 100%;
    height: #{$height}px;
    bottom: -5px;
    left: 0;
    background: $header-link-underscrore-color;
  }
}

.navLink {
  display: block;
  position: relative;
  line-height: 20px;
  font-family: $mainFont;
  text-decoration: none;
  border-bottom: none;
  color: white;
  margin-right: 0;
  padding: 25px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  @include navlink-underscore(0);

  @include for-desktop-small-up {
    height: 40px;
    color: $header-link-color;
    border-bottom: none;
    margin-right: 39px; // max we can go without nav label wrapping
    margin-bottom: 0;
    padding: 0 0 0px;
    transition: all 0.2s ease;
  }

  @include for-desktop-up {
    margin-right: 50px;
  }

  @include for-big-desktop-up {
    margin-right: 70px;
  }

  .parent:hover & {
    color: white;
    @include for-desktop-small-up {
      color: $header-link-color;
      @include navlink-underscore(4);
    }
  }

  &.active {
    border-bottom: none;
    @include for-desktop-small-up {
      @include navlink-underscore(4);
    }
  }

  .title {
    display: flex;
    position: relative;
    transition: all 0.2s ease;
    font-size: 22px;
    line-height: 35px;
    font-family: $mainFont;

    @include for-desktop-small-up {
      font-size: 17px;
    }

    @include for-desktop-up {
      font-size: 18px;
    }
  }

  .badge {
    position: relative;
    top: -15px;
    right: -15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    color: var(--badge-text-color, $light-blue);
    z-index: 5;

    @include for-desktop-small-up {
      position: absolute;
      top: -10px;
      right: -25px;
    }

    &::before {
      width: 18px;
      height: 22px;
      content: '';
      background: $accent;
      position: absolute;
      z-index: -1;
      transform: rotate(30deg);
      left: -5px;
      top: 0;

      @include for-desktop-small-up {
        background: var(--badge-background-color, $accent);
      }
    }
  }
}

.dropdown {
  position: absolute;
  width: 100%;
  padding-top: 25px;

  @include for-desktop-small-up {
    transition: all 0.2s ease;
    transform: translateY(50%);
    opacity: 0;
    pointer-events: none;
    width: 180px;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;

    li a {
      display: inline-block;
      width: 100%;
      height: auto;
      font-size: 16px;
      color: white;
      padding: 10px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      line-height: 35px;

      @include for-desktop-small-up {
        color: var(--header-sub-link-color, white);
        padding: 7px 0;
        border: none;
        line-height: initial;
      }

      &:hover {
        color: var(--header-sub-link-hover-color, $accent);
        
      }
    }
  }

  .parent:hover & {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}

.collapsedNavLink {
  @extend .navLink;
  height: 0;
  opacity: 0;
  border-bottom: none;
}
