@import '../../styles/app.module';

.page {
    &Streamfield {
        margin-bottom: 60px !important;
    }

    &Contact {
        margin-top: 80px;
    }

    &Author {
        @include for-tablet-landscape-up {
            margin: 0;
        }

        @include for-desktop-up {
            margin: 0 0 0 16.66vw;
        }
    }
}
