@import '../../styles/app.module';

.quote {

    &SliderBlock {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 50px;
    }

    &Icon {
        fill: $accent;
        width: 20vw;
        max-width: 100px;
        @include for-tablet-landscape-up {
            max-width: none;
            width: 8.33vw;
            margin-left: 4.33vw;
        }
    }

    &Slider {
        position: relative;
        grid-column-start: span 2;
        margin-top: 20px;
        @include for-tablet-landscape-up {
            margin-top: 0px;
            grid-column-start: 2;
        }

        &Bullets {
            transition: 0.2s all ease;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &Bullet {
            transition: 0.2s all ease;
            width: 9px;
            height: 15px;
            content: '';
            background: rgba(0, 0, 0, 0.1);
            transform: rotate(30deg);
            margin-right: 20px;
            cursor: pointer;

            &Active {
                @extend .quoteSliderBullet;
                width: 14px;
                height: 20px;
                background: $accent;
            }
        }
    }

    &Slides {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 20px;
    }

    &Slide {
        transition: all 0.2s ease-in;
        display: flex;
        flex-direction: column;
        grid-column: 1;
        grid-row: 1;
        opacity: 0;

        &Active {
            @extend .quoteSlide;
            opacity: 1;
        }

        &Quote {
            font-style: normal;
            margin: 0 0 20px;
            padding: 0 0 0;
            color: $primary;
            font-size: 26px;
            line-height: 46px;

            @include for-phone-only {
                font-size: 22px;
                line-height: 38px;
            }

            &::after {
                content: '”';
                font-style: italic;
            }
        }

        &Cite {
            color: $dark-grey;
            font-size: 12px;
            margin: 0 0 15px;
            line-height: 1;

            display: flex;
            flex-direction: column;

            @include for-tablet-landscape-up {
                flex-direction: row;
            }

            &Author {
                font-weight: bold;
                padding-right: 8px;
                text-transform: uppercase;
                color: $accent;
                margin-bottom: 5px;

                &::after {
                    @include for-tablet-landscape-up {
                        width: 10px;
                        content: '|';
                        color: rgba(black, 0.2);
                        font-weight: 100;
                        padding-left: 10px;
                    }
                }

            }
        }
    }
}
