@import '../../styles/app.module';

// Theme overrides:
$testimonial-name: var(--testimonial-name);

.quote {

    &SliderBlock {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
    }

    &Icon {
        fill: var(--icon-color, $accent);
        width: 20vw;
        max-width: 100px;
        grid-column: 1;
        grid-row: 1;
        margin-right: 50px;

        @include for-tablet-landscape-up {
            max-width: 120px;
            width: 8.33vw;
            margin-top: -50px;
            margin-left: 4.33vw;
        }
    }

    &Slider {
        position: relative;
        grid-column-start: span 2;
        margin-top: 20px;
        grid-column: 1;
        grid-row: 2;
        @include for-tablet-landscape-up {
            margin-top: 0px;
            grid-column-start: 2;
            grid-row: 1;
        }

        &Bullets {
            grid-column: span 2;
            grid-row: 3;
            margin-top: 30px;
            transition: 0.2s all ease;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 20px;

            @include for-tablet-landscape-up {
                grid-row: 2;
            }
        }

        &Bullet {
            transition: 0.2s all ease;
            width: 9px;
            height: 15px;
            content: '';
            background: rgba(0, 0, 0, 0.1);
            transform: rotate(30deg);
            margin-right: 20px;
            cursor: pointer;

            &Active {
                @extend .quoteSliderBullet;
                width: 14px;
                height: 20px;
                background: var(--icon-color, $accent);
            }
        }
    }

    &Slides {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 20px;
    }

    &Slide {
        transition: all 0.2s ease-in;
        display: flex;
        flex-direction: column;
        grid-column: 1;
        grid-row: 1;
        opacity: 0;

        &Active {
            @extend .quoteSlide;
            opacity: 1;
        }

        &Quote {
            font-style: normal;
            margin: 0 0 20px;
            padding: 0 0 0;
            color: $primary;

            font-size: 22px;
            line-height: 38px;
            @include for-desktop-up {
                font-size: 26px;
                line-height: 46px;    
                padding-right: 8.33vw;
            }

            &::after {
                content: '”';
                font-style: italic;
            }
        }

        &Cite {
            color: $grey;
            font-size: 12px;
            margin: 0 0 15px;
            line-height: 1;
            display: flex;
            flex-direction: column;

            @include for-tablet-landscape-up {
                flex-direction: row;
            }

            &Name {
                font-weight: bold;
                padding-right: 8px;
                text-transform: uppercase;
                color: $testimonial-name;
                margin-bottom: 5px;
                letter-spacing: 0.15em;
            }

            &Role {
                line-height: 1.5;

                @include for-tablet-landscape-up {
                    line-height: 1;
                }

                &::before {
                    @include for-tablet-landscape-up {
                        width: 10px;
                        content: '|';
                        color: rgba(black, 0.2);
                        font-weight: 100;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}
