@import '../../styles/app';

// LEGACY TBX COLORS:
$blue: #23b0b0;
$coral: $accent;
$coral-lt: lighten($coral, 10%);
$orange: #fd5938;
$orange-lt: #fc8977;
$dark: #2b3033;
$grey: #f7f7f7;
$green: #68aa6c;
$green-lt: #93c296;
$yellow: #f5c157;

.menuButton {
    position: absolute;
    right: 0;
    top: 40px;
    display: block;
    float: right;
    width: 30px;
    height: 25px;
    @include menu-animation;
    @include for-tablet-landscape-up {
      display: none;
    }
    
    span {
      position: absolute;
      right: 0;
      top: 0;
      height: 3px;
      width: 100%;
      background: $dark;
      border-radius: 100px;
      @include menu-animation;
      &:nth-child(2) {
        top: 11px;
        width: 70%;
        background: $coral;
      }
      &:nth-child(3) {
        width: 85%;
        top: auto;
        bottom: 0;
        background: $blue;
      }
    }
    &.twist {
      span {
        width: 100%;
        &:nth-child(1) {
          opacity: 0;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          top: 10px;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          bottom: 12px;
        }
      }
    }
  }
  