@import '../../styles/app.module';

.filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    &Tag {
        box-sizing: content-box;
        font-size: 14px !important;
        padding: 2px 8px !important;
        margin-right: 10px !important;

        &Active {
            @extend .filterTag;
            border: 2px solid #fd5765 !important;
            color: #fd5765 !important;
        }
    }

}
