@import '../../styles/app.module';

.page {
    @extend .darkTheme;
    padding-top: 100vh;

    &Hero {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        background-size: cover !important;
        background-repeat: no-repeat !important;

        &Mask {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba($primary, 0.3);
        }
    }

    &Streamfield {
        margin-bottom: 60px !important;
    }
}
