@import '../../styles/app.module';

.block {
    position: relative;
    background-color: white;
    padding: 20px 0;

    &Content {
        @include container;
    }

    &PersonList {
        display: flex;
        flex-wrap: wrap;
    }

    &PersonLink {
        cursor: pointer;
        padding-bottom: 50px;
        text-decoration: none;
        border-bottom: none;

        width: 50%;
        @include for-tablet-landscape-up {
            width: 33.333%;
        }
        @include for-desktop-up {
            width: 25%;
        }

        &Avatar {
            width: 100%;
        }

        &Name {
            display: block;
            margin: 10px 0 5px;
            line-height: 1;
            font-size: 22px;
            font-weight: 800;
            color: $primary;

            &:hover {
                color: $blue;
            }
        }

        &Role {
            line-height: 1.4;
            color: $accent;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            font-weight: bold;
            font-size: 11px;
            margin: 0;
        }

        &:hover {
            &Name {
                color: $blue !important;
            }
        }

    }

}
