body {
    font-family: $mainFont;
    font-size: 18px;

    @include for-tablet-landscape-up {
        font-size: 20px;
    }

    @include for-desktop-up {
        font-size: 22px;
    }
}

h1 {
    margin: 0 0 10px;
    color: #231749;
    font-size: 2em;
    line-height: 60px;
    font-weight: bold;
}
