@import '~breakpoint-sass';

// Responsive Mixins
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1280px) { @content; }
}
// specifically for navigation
@mixin for-desktop-medium-up {
  @media (min-width: 1310px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin container {
  position: relative;
  margin: 0px 8.33vw;

  @include for-tablet-landscape-up {
    margin: 0 8.33vw 0;
  }
}

@mixin streamblockPadding {
  @include for-desktop-up {
    max-width: 50vw;
    margin-left: 16.66vw;
  }
}

/* autoprefixer grid: on */
* {
  
}
