// IE11 Fallback theme
:root {
  --color-primary: #{$dark-blue};
  --color-accent: #{$coral};
  --color-accent-small: #{$coral-dark};
  --color-link: #{$light-blue};
  --color-link-hover: #{$light-blue};
}

.lightTheme {}

.darkTheme {

  // Base colors:
  --color-primary: #{#251657};
  --color-accent: #{$green};
  --color-accent-small: #{$green-dark};

  // Hero Component
  --hero-background: #{$primary};
  --hero-title-color: white;
  --hero-link-color: white;

  // Header Component
  --header-background: #{$primary};
  --header-link-color: white;
  --header-logo-color: white;
  --header-icon-color: white;
  --header-nested-link-color: white;

  // Links
  --color-link-hover: white;

  // Page section titles
  --page-section-title-color: #{$green-dark};

  // Phone number
  --contact-number-color: #{$light-blue};

}

.darkThemeTransparent {
  @extend .darkTheme;
  --header-background: transparent;
}
