.lightTheme {}

.darkTheme {

  // Base colors:
  --color-primary: #{#251657};
  --color-accent: #{$green};

  // Hero Component
  --hero-background: #{$primary};
  --hero-title-color: white;
  --hero-link-color: white;

  // Header Component
  --header-background: #{$primary};
  --header-link-color: white;
  --header-logo-color: white;
  --header-icon-color: white;
  --header-nested-link-color: white;

  // Links
  --color-link-hover: white;
  --color-link-badge: #{$blue};

}

.darkThemeTransparent {
  @extend .darkTheme;
  --header-background: transparent;
}
