.darkTheme {

  // Base colors:
  --color-primary: #{$dark-blue};
  --color-accent: #{$green};

  // Hero Component
  --hero-background: #{$primary};
  --hero-title-color: white;
  --hero-link-color: white;



}
