h1 {
  margin: 0 0 10px;
  color: $primary;
  font-size: 2em;
  line-height: 1.4em;
  font-weight: bold;
}

h2 {
  font-weight: 800;
  //font-family: $mainFont;
  font-size: 32px;
  line-height: 38px;
  margin: 60px 0 20px;
  color: $dark-blue;

  @include for-tablet-landscape-up {
    font-size: 36px;
    line-height: 44px;
  }
}

h3 {
  color: $primary;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 60px 0 10px;
}

h4 {
  @extend h3;
}

p {
  margin: 0 0 30px;
  color: #333;
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 2px solid $accent;

  &:hover {
    color: $link-hover-color;
  }
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.strongBlack {
  font-weight: 800;
}
