h1 {
  margin: 0 0 10px;
  color: $primary;
  font-size: 2em;
  line-height: 1.4em;
  font-weight: bold;
  font-variant-ligatures: none;

  @include for-tablet-landscape-up {
    margin-right: 8.33vw;
  }
}

h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  margin: 60px 0 20px;
  color: $blue;

  @include for-tablet-landscape-up {
    font-size: 36px;
    line-height: 44px;
  }
}

h3 {
  color: $primary;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 60px 0 10px;
}

h4 {
  @extend h3;
}

p {
  margin: 0 0 30px;
  color: #333;
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 2px solid var(--link-underscore-color, $accent);

  &:hover {
    color: $link-hover-color;
    border-bottom-color: var(--link-underscore-hover-color, $green);
  }
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

.strongBlack {
  font-weight: 800;
}
