// Colours
$coral: #fd5765;
$blue: #251657;
$dark-blue: #231749;
$light-grey: #f4f3f6;
$grey: #444;
$green: #3BECCD;
$dark-grey: #444;

$primary: var(--color-primary, #{$dark-blue});
$accent: var(--color-accent, #{$coral});
$link-color: var(--color-link, #{$blue});

// Fonts
$mainFont: 'Apercu Pro';

// Sizes
$small: '(max-width: 599px)';
$tablet: '(min-width: 600px)';
$tablet-landscape: '(min-width: 900px)';
$desktop: '(min-width: 1200px)';
$desktop-big: '(min-width: 1800px)';
