// Colours
$primary: #231749;
$accent: #fd5765;
$blue: #2f128d;

// Fonts
$mainFont: 'Apercu Pro';

// Sizes
$small: '(max-width: 599px)';
$tablet: '(min-width: 600px)';
$tablet-landscape: '(min-width: 900px)';
$desktop: '(min-width: 1200px)';
$desktop-big: '(min-width: 1800px)';
