// Colours
:root {
    --color-coral: #fd5765;
    --color-coral-dark: #eb0316;
    --color-green: #3beccd;
    --color-light-blue:  #2f128d;
    --color-blue: #251657;
    --color-dark-blue: #251657;
    --color-light-grey: #f4f3f6;
    --color-light-grey-accessible: #757575;
    --color-grey: #444;
}
$coral: var(--color-coral);
$coral-dark: var(--color-coral-dark);
$light-blue: var(--color-light-blue);
$blue: var(--color-blue);
$light-grey: var(--color-light-grey);
$light-grey-accessible: var(--color-light-grey-accessible);
$grey: var(--color-grey);
$green: var(--color-green);

// Theme Vars (For good browsers that support CSS Vars)
$primary: var(--color-primary);
$accent: var(--color-accent);
$accent-small-text: var(--color-accent-small);
$link-color: var(--color-link);
$link-hover-color: var(--color-link-hover);

// Fonts
$mainFont: 'Apercu Pro';

// Sizes
$small: '(max-width: 599px)';
$tablet: '(min-width: 600px)';
$tablet-landscape: '(min-width: 900px)';
$desktop: '(min-width: 1200px)';
$desktop-medium: '(min-width: 1310px)'; // specifically for navigation
$desktop-big: '(min-width: 1800px)';
$short-screen: '(max-height: 725px)'; // for when hero elements are 100vh

