@import '../../styles/app.scss';

.block {
    background-color: white;
    padding: 95px 0 20px;

    &Content {
        @include container;
    }

    &Intro {
        @include for-tablet-landscape-up {
            padding-bottom: 20px;
        }

        &Opinion {
            position: relative;
            padding-top: 20px;

            @include for-tablet-landscape-up {
                width: 60%;
            }

            &Title {
                color: $accent;
            }

            &Text {
                line-height: 30px;
                margin: 0 0 40px;
                color: $primary;
                @include for-tablet-landscape-up {
                    line-height: 42px;
                }
            }

            &::before {
                position: absolute;
                content: '';
                width: 60px;
                height: 8px;
                left: 0;
                top: 0;
                background: $accent;
            }
        }
    }

    &BlogList {
        display: grid;
        grid-template-columns: 1fr;
        @include for-tablet-landscape-up {
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 8.33vw;
        }
        padding-bottom: 50px;
    }

    &BlogLink {

        &Title {
            font-size: 30px;
            font-weight: bold;
            line-height: 40px;
            margin: 0 0 10px;
            color: $primary;

            &:hover {
                color: $blue;
            }
        }

        &BigTitle {
            @extend .blockBlogLinkTitle;
            font-size: 65px !important;
            font-weight: 800;
            line-height: 80px;
        }

        &Desc {
            margin: 0 0 30px;
            color: $grey;
            max-width: 80%;
        }
    }

}

.pageSectionTitle {
    //position: relative;
    top: -50px;
}
