@import '../../styles/app.module';

.streamfield {
  @include container;
  background-color: white;
  padding-top: 40px;

  &Intro {
    @include streamblockPadding;
    font-size: 22px;
    line-height: 36px;
    margin: 0 0 40px;
    color: $primary;

    p {
      color: $primary;
    }

    @include for-tablet-landscape-up {
      font-size: 24px;
      line-height: 42px;
    }
  }

  &Heading {
    @include streamblockPadding;
  }

  &Embed,
  center {
    @include streamblockPadding;
    width: 100%;

    iframe {
      width: 100%;
      height: 250px;

      @include for-tablet-landscape-up {
        height: 350px;
      }

      @include for-desktop-up {
        height: 400px;
      }
    }
  }

  &Embed {
    position: relative;
    z-index: 0;
    height: 0;
    overflow: hidden;
    padding-bottom: 56%;
    margin-bottom: 30px;

    @include for-desktop-up {
      // Change padding as vw is set by streamblockPadding
      padding-bottom: 34.25%;
    }

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  }

  &Paragraph {
    @include streamblockPadding;
    // Pointer: this is a paragraph containing dev!
  }

  &Raw {
    @include streamblockPadding;
  }

  &Quote {
    width: 75vw;
    margin-left: 1vw;
    padding: 25px 0;

    @include for-desktop-up {
      padding-top: 60px;
      padding-bottom: 40px;
    }

    p {
      margin-right: 0;
    }
  }

  &WideImage {
    position: relative;
    margin: 60px 0 60px;
    width: 100%;

    img {
      width: 100%;
    }

    &Icon {
      position: absolute;
      width: 50px;
      height: 50px;
      top: -20px;
      right: -5px;

      @include for-tablet-landscape-up {
        width: 180px;
        height: 160px;
        right: -30px;
        top: -40px;
      }
    }
  }

  &AlignedImage {
    @include streamblockPadding;
    width: 100%;
    height: auto;
    margin: 60px 0 60px;

    &Img {
      width: 100%;
    }

    &Caption {
      margin-top: 5px;
      * {
        font-size: 14px;
        color: rgba(51, 51, 51, 0.7);
        margin-bottom: 0;
      }
    }
  }

  p {
    line-height: 1.7;
  }

  a {
    cursor: pointer;
    font-weight: bold;
    color: $link-color;

    &:hover {
      border-bottom: 2px solid $green;
      color: $link-color;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    color: #333;
    padding: 0 0 25px calc(8.33vw + 20px);
    line-height: 1.7;

    @include for-desktop-up {
      padding: 0 0 25px 8.33vw;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 6vw;
      top: 5px;
      width: 12px;
      height: 20px;
      margin-right: 20px;
      background: url("../../images/icons/chevron.svg") no-repeat center;

      @supports (mask: url("")) {
        background-image: none;
        background-color: $accent;
        mask: url("../../images/icons/chevron.svg") no-repeat center;
        mask-size: contain;
      }
    }
  }


}
