@import '../../styles/app.scss';

.block {
    background: white;
    padding-top: 100px;
    padding-bottom: 10px;

    &Title {
        margin-left: 8.33vw;
        max-width: 400px;
    }

    &List {
        padding-top: 40px;
    }

    .caseStudy {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        border-bottom: none;
        line-height: 0;

        &:hover {
            .caseStudyMetaTitle {
                color: $blue !important;
            }
        }

        @include for-tablet-landscape-up {
            flex-direction: row;
            background-size: cover;

            &:nth-child(even) {
                flex-direction: row-reverse;

                @include for-tablet-landscape-up {
                    .caseStudyMeta {
                        padding-top: 120px;
                        * {
                            padding-left: 0px;
                        }
                    }
                }

                .caseStudyClusterIcon {
                    display: none;
                }

                .caseStudyImage {
                    &:before {
                        left: auto;
                        right: 0;
                        border-width: 0 0 50vw 25vw;
                        border-color: transparent transparent white transparent;
                        bottom: auto;
                        top: 0;
                    }
                }
            }
        }

        &Meta {
            @include mobile-container;

            margin: 30px;
            padding: 15px;
            background-color: rgba(white, 0.9);

            @include for-tablet-landscape-up {
                min-height: 200px;
                margin: 0;
                padding: 60px 0 0;
                width: 50%;
                * {
                    padding-left: 8.33vw;
                }
            }

            &Client {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0.15em;
                font-size: 12px;
                color: $accent;
                margin-bottom: 20px;
            }

            &Title {
                font-size: 38px;
                line-height: 44px;
                margin: 0 0 10px;
                color: $primary;
                font-weight: bold;
            }

            &Desc {
                color: $dark-grey;
                line-height: 1.5;
            }

            &::after {
                //@include split-triangle;
            }
        }

        &Image {
            width: 100%;
            overflow: hidden;

            @include for-tablet-landscape-up {
                position: relative;
                width: 50%;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 50vw 25vw 0 0;
                    border-color: white transparent transparent transparent;
                    z-index: 2;
                }
            }

            img {
                width: 100%;
            }

        }

        &ClusterIcon {
            display: none;
            @include for-desktop-up {
                display: block;
                position: absolute;
                width: 80px;
                top: -70px;
                right: -20.66vw;
                z-index: 100;
            }
        }

    }

}

.pageSectionTitle {
    left: 15px;
    @include for-tablet-landscape-up {
        left: 8.33vw;
    }
}
