@import '../../styles/app.module';

.bustout {
    display: flex;
    position: relative;
    background: $blue;

    flex-direction: column;
    @include for-tablet-landscape-up {
        flex-direction: row;
    }

    &Container {
        margin: 60px 0 80px;
    }

    &RightAligned {
        @extend .bustout;
        flex-direction: column-reverse;
        @include for-tablet-landscape-up {
            flex-direction: row-reverse;
        }
    }

    &Full {
        flex-direction: column !important;

        .bustoutImage {
            width: 100% !important;
        }

        .bustoutCaption {
            width: 100%;
        }
    }

    &Image {
        min-height: 300px;
        width: 100%;
        @include for-tablet-landscape-up {
            float: left;
            width: 50%;
        }
      background-size: cover;
      background-position: center;

    }

    &Caption {
        background: $light-blue;
        width: 100%;

        @include for-tablet-landscape-up {
            float: left;
            width: 50%;
        }

        &Inner {
            padding: 8.33vw;
        }

        h2 {
            color: white;
        }

        p {
            color: rgba(white, 0.8);
        }

    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }

}
