@import '../../styles/app.module';

.page {

  &Container {
    @include container();
    margin-top: 45px !important;
  }

  &ParentLink {
    margin-left: 16.66vw !important;
  }

  &Title {
    width: 100%;
    margin: 0;

    h1 {  
      font-size: 45px;
      line-height: 50px;
      margin-bottom: 0 !important;
      p {
        color: $primary !important;
      }
    }
  }

  &Role {
    @include streamblockPadding;
    display: block;
    font-size: 16px;
    margin-top: 30px;
    letter-spacing: 0.15em;
    font-weight: bold;
    text-transform: uppercase;
    color: $red;
  }

  &Avatar {
    @include streamblockPadding;
    position: relative;
    margin: 40px 0 20px;
    min-height: 100px;

    &Icon {
      position: absolute;
      z-index: 2;

      right: 0px;
      top: -40px;
      width: 80px;

      @include for-tablet-portrait-up {
        right: 20px;
        top: -40px;
        width: 120px;
      }

      @include for-tablet-landscape-up {
        right: -25px;
        top: -40px;
        width: 180px;
      }
    }

    &Image {
      position: relative;
      width: 100%;
    }
  }
}
