@import '../../styles/app.module';

.contactBlock {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;

    &Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include container;
        @include for-tablet-portrait-up {
            flex-direction: row;
            align-items: center;
        }
    }

    &Image {
        margin-bottom: 20px;
        @include for-tablet-portrait-up {
            margin-bottom: 0;
        }
    }

    &Details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        @include for-phone-only {
            justify-content: center;
        }

        @include for-tablet-portrait-up {
            padding-left: 20px;
        }
    }

    &Title {
        width: 100%;
        color: $primary;
        font-size: 26px;
        line-height: 30px;
        margin: 0 0 5px;
        font-weight: 800;

        @include for-phone-only {
            text-align: center;
        }
    }

    &Email {
        height: 24px;
        color: $light-blue !important;
        font-size: 20px;
        line-height: 24px;
        text-decoration: none;
        border-bottom: 2px solid $accent;
        margin: 0px 15px 0 0;
        font-weight: bold;
        @include for-phone-only {
            margin: 10px 15px 0 0;
        }
    }

    &Number {
        height: 24px;
        line-height: 24px;
        text-decoration: none;
        font-size: 20px;
        color: $accent !important;
        margin: 0px 15px 0 0;
        border-bottom: none;
        @include for-phone-only {
            margin: 10px 15px 0 0;
        }
    }

}
