@import '../../styles/app.module';

// Component theme overrides:
$header-background: var(--header-background, white);
$header-link-color: var(--header-link-color, $primary);
$header-logo-color: var(--header-logo-color, $primary);

.header {
  width: 100%;
  background-color: $header-background;
  position: absolute;
  top: 0;
  z-index: 100;

  * {
    transition: all 0.2s   ease;
  }

  &Inner {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;

    @include for-desktop-up {
     flex-direction: row;
     padding: 40px 0px 0px;
    }
  }
}

.nestedNav {

  &Container {
    display: none;
    position: absolute;
    left: 100vw;
    width: 100%;
    height: 100%;
  }

  &List {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  &Item {
    display: flex;
    align-items: center;
    padding-right: 50px;
    height: 100%;

    a {
      transition: none;
      display: inline-flex;
      align-items: center;
      color: $header-link-color;
      font-size: 15px;
      font-family: $mainFont;
      text-decoration: none;
      border-bottom: none;
      height: calc(100% - 2px);

      &:hover {
        margin-top: 2px;
        border-bottom: 2px solid $accent;
      }

      &Active {
        margin-top: 2px;
        border-bottom: 2px solid $accent;
      }

    }


  }

}

.logoFlame {
  width: 25px;
  height: 25px;
}

.logo {
  width: 110px;
  height: 40px;
  position: relative;
  display: inline-block;
  fill: $header-logo-color;

  @include for-tablet-landscape-up {
    width: 130px;
    height: 50px;
  }

  &Container {
    width: 20.8vw;
    height: 100%;
    @include for-desktop-up {
      margin-left: -4.17vw;
      margin-right: 4.17vw;
      margin-top: -10px;
    }
  }
}

.primaryNav {

  &Container {
    width: 100%;
    padding-top: 15px;
    display: none;

    @include for-tablet-landscape-up {
      display: block;
    }

    @include for-desktop-up {
      padding-top: 10px;
    }
  }

  &List {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      float: left;
      width: auto;
      padding: 0 0 0 0;
    }
  }

}

.mobileNav {

  &Container {
    display: block;
    @include for-tablet-landscape-up {
      display: none;
    }
  }

  &Modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-300%);
    min-height: 100vh;
    width: 100vw;
    background-color: $primary;
    overflow-x: hidden;
    transition: all 0.4s ease-in;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -50vh;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100vh 50vh 0 0;
      border-color: #231749 transparent transparent transparent;
      z-index: 2;
    }
  }

  &ModalOpen {
    @extend .mobileNavModal;
    //display: block;
    transform: translateX(0);
  }

  &List {
    @extend .primaryNavList;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    margin: 40px 0 0;

    li {
      margin-left: 0 !important;

      a {


      }
    }
  }

}

.collapsedHeader {
  @extend .header;
  position: fixed;
  background-color: $header-background;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .headerInner {
    padding: 5px 0;
    height: 100%;
    @include for-tablet-landscape-up {
      height: 60px;
    }
  }

  .headerMenuButton {
    display: none !important;
  }

  .primaryNavContainer {
    display: none;
  }

  .collapsedLogoContainer {
    display: flex;
    @include for-tablet-landscape-up {
      margin-left: -4.17vw;
      margin-right: 4.17vw;
    }

    img {
      width: 20px;
    }

    span {
      display: flex;
      align-items: center;
      width: 230px;
      color: $header-link-color;
      font-size: 18px;
      font-weight: bold;
      padding-left: 15px;
    }
  }

  @include for-desktop-up {
    .headerInner {
      display: flex;
      align-items: center;
      padding-top: 0px !important;
      padding-bottom: 0px;
    }

    .nestedNavContainer {
      display: flex;
      left: 16.66vw;
    }

    .primaryNavList {
      padding-right: 25px;
      @include for-desktop-up {
        padding-right: 0px;
      }
    }
  }
}
