@import '../../styles/app.module';

.alignLeft {
    position: relative;
}

.alignRight {
    position: relative;
    left: 100%;
}

.imageWoman {
    // animation
    transition: all 0.5s ease;
    transform: translate3d(-100%, 0, 0);

    position: relative;
    width: 66vw;
    max-width: 380px;
    top: 40px;
    z-index: 2;
    @include for-desktop-up {
        width: 28vw;
        height: 18.8vw;
        left: -14.66vw;
        top: 0px;
    }

    &Right {
        @extend .imageWoman;
        margin-left: auto;
        margin-top: 20px;
        left: 0;
        top: 0;

        @include for-tablet-portrait-up {
            top: 60px;
        }

        @include for-tablet-landscape-up {
            top: 140px;
        }
    }

    &Active {
        @extend .imageWoman;
        transform: translate3d(0%, 0, 0) !important;
    }
}

.imageWagtail {
    // animation
    transition: all 0.8s ease;
    transform: translate3d(100%, 0, 0);

    position: relative;
    width: 50vw;
    z-index: 2;

    margin-left: auto;
    margin-top: 20px;
    right: 14vw;
    left: 0;

    // animate the wagtail bird
    > path {
        &:nth-child(11),
        &:nth-child(12),
        &:nth-child(13),
        &:last-child {
            transition: all 1s ease;
            transition-delay: 0.7s;
            transform: translate3d(0, -30px, 0) rotate(5deg);
        }
    }

    ellipse {
        transition: all 1s ease;
        transition-delay: 0.7s;
        transform: translate3d(0, -30px, 0) rotate(5deg);
    }

    @include for-tablet-portrait-up {
        margin-top: 60px;
    }

    @include for-tablet-landscape-up {
        margin-top: 140px;
    }

    @include for-desktop-up {
        width: 24vw;
        height: calc(24vw * 0.6667);
        left: 0;
    }

    &Container {
        margin-left: auto;
    }

    &Active {
        @extend .imageWagtail;
        transform: translate3d(-100%, 0, 0) !important;

        // animate the wagtail bird
        > path {
            &:nth-child(11),
            &:nth-child(12),
            &:nth-child(13),
            &:last-child {
                transform: translate3d(0, 0, 0) rotate(-5deg);
            }
        }

        ellipse {
            transform: translate3d(0, 0, 0) rotate(-5deg);
        }
    }
}
