@import '../../styles/app.module';

.page {
    &Hero {
        position: relative;
        display: flex;
        align-items: flex-end;
        width: 100vw;
        height: calc(100vh - 50px);
        background-image: url('../../images/404.jpg');
        background-size: cover;
        background-position: center;
        padding-top: 180px;
        padding-bottom: 45vh;
        @include for-tablet-landscape-up {
            padding-bottom: 30vh;
        }

        &::after {
            content: '';
            background: linear-gradient(to bottom, white 1%, rgba(255, 255, 255, 0) 100%);
            width: 100%;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }

    &HeroContent {
        position: absolute;
        margin: 0 8.33vw 20px 8.33vw;

        @include for-tablet-landscape-up {
            margin: 0 8.33vw 20px 24.99vw;
        }
    }

    &Strapline {
        font-size: 50px;
        line-height: 50px;
        font-weight: 800;

        @include for-tablet-landscape-up {
            font-size: 70px;
            line-height: 70px;
        }
    }

    &Link {
        font-weight: 700;
        font-size: 20px;
    }
}
