@import '../../styles/app.module';

.block {

    &Container {
        position: relative;
        width: 100vw;
        background: white;
        padding-top: 10px;
        padding-bottom: 80px;
    }

    &Content {
        padding-top: 90px;
        @include container;
        @include for-tablet-landscape-up {
            padding-top: 20px;
        }
    }

    &Title {
        font-size: 35px;
        line-height: 45px;
        font-weight: 100;
        @include for-tablet-landscape-up {
            padding-left: 17vw;
            font-size: 36px;
            line-height: 50px;
        }

        * {
            color: $primary;
        }
    }

    &Links {
        &Container {
            margin-top: 30px;
            @include for-tablet-landscape-up {
                padding-left: 17vw;
            }
        }

        &List {
            list-style: none;
            display: flex;
            flex-direction: column;
        }

        &Item {
            padding-bottom: 15px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            &Icon {
                transform: rotate(30deg);
                width: 22px;
                height: 22px;
                margin-top: 20px;
                fill: var(--icon-color, $accent);
                flex-grow: 0;
                flex-shrink: 0;
                @include for-tablet-landscape-up {
                    width: 22px;
                    height: 22px;
                }
            }

            a {
                display: inline;
                position: relative;
                color: $primary;
                font-family: $mainFont;
                text-decoration: none;
                font-size: 20px; 
                line-height: 30px;
                font-weight: 400;
                margin: 0 0 5px 30px;
                padding: 15px 0 0;
                border-bottom: 2px solid white;

                @include for-tablet-landscape-up {
                    padding: 15px 0 0;
                    margin: 0 0 5px 60px;
                    line-height: 40px;
                    font-size: 24px;
                }

                &:hover {
                    @include for-tablet-landscape-up {
                        color: $light-blue;
                        border-bottom: 2px solid $accent;
                        font-weight: 800;
                    }
                }

                &::after {
                    content: '';
                    display: inline;
                    width: 12px;
                    height: 20px; // changed from 30px to fix ie edge issue
                    position: absolute;
                    margin-left: 15px;
                    margin-top: 5px;
                    background: url("../../images/icons/chevron.svg") no-repeat center;

                    @include for-tablet-landscape-up {
                        margin-top: 10px;
                    }


                    @supports (mask: url("")) {
                        background-image: none;
                        background-color: $accent;
                        mask: url("../../images/icons/chevron.svg") no-repeat center;
                        mask-size: contain;
                    }
                }
            }

            span {
                font-family: $mainFont;
                line-height: 30px;
                font-weight: 400;
                margin: 0 0 5px 30px;
                padding: 15px 0 0;

                @include for-tablet-landscape-up {
                    padding: 15px 0 0;
                    margin: 0 0 5px 60px;
                    line-height: 40px;
                    font-size: 24px;
                }
            }
        }
    }

    &Contact {
        @include for-tablet-landscape-up {
            margin-top: 15px;
            padding-left: 13vw;
        }
    }

}

.collapsedblockContainer {
    @extend .blockContainer;
    .blockLinksContainer {
        animation: fadeOut 0.2s forwards;
        pointer-events: none;
    }
}

.accent {
    color: $accent;
}

.pageSectionTitle {
    left: 0;
}
