@import '../../styles/app.scss';

.block {

    &Container {
        position: relative;
        width: 100vw;
        background: white;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    &Image {
        width: 50vw;
        max-width: 380px;
        @include for-tablet-landscape-up {
            width: 28vw;
        }
    }

    &Content {
        padding-top: 80px;
        @include mobile-container;
        @include for-tablet-landscape-up {
            @include container;
            padding-top: 20px;
        }
    }

    &Title {
        color: $primary;
        font-size: 36px;
        line-height: 50px;
        font-weight: 100;
        @include for-tablet-landscape-up {
            padding-left: 17vw;
        }
    }

    &Links {
        &Container {
            margin-top: 30px;
            padding-left: 20px;
            @include for-tablet-landscape-up {
                padding-left: 17vw;
            }
        }

        &List {
            list-style: none;
            display: flex;
            flex-direction: column;
        }

        &Item {
            padding-bottom: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;

            &Icon {
                transform: rotate(30deg);
                width: 20px;
                height: 20px;
                background-color: $accent;
                -webkit-mask: url("../../images/icons/tick.svg") no-repeat center;
                -webkit-mask-size: contain;
                @include for-tablet-landscape-up {
                    width: 22px;
                    height: 22px;
                }
            }

            a {
                color: $primary;
                font-family: $mainFont;
                text-decoration: none;
                line-height: 40px;
                font-weight: 400;

                margin: 0 0 5px 60px;
                padding: 10px 0 0;
                border-bottom: 2px solid white;

                &:hover {
                    border-bottom: 2px solid $accent;
                    font-weight: 800;
                }
            }
        }
    }

    &Contact {
        @include for-tablet-landscape-up {
            margin-top: 15px;
            padding-left: 13vw !important;
        }
    }

}

.collapsedblockContainer {
    @extend .blockContainer;
    .blockLinksContainer {
        animation: fadeOut 0.2s forwards;
        pointer-events: none;
    }
}

.accent {
    color: $accent !important;
}
