@import '../../styles/app.module';

// Component theme overrides:
$hero-background: var(--hero-background, white);
$hero-title-color: var(--hero-title-color, $primary);
$hero-parent-page-color: var(--hero-parent-page-color);
$hero-parent-page-slash-color: var(--hero-parent-page-slash-color);
$hero-parent-page-hover-color: var(--hero-parent-page-hover-color);

.parentLink {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-size: 12px;
    color: $accent;
    margin: 0 0 50px;
    position: relative;
    z-index: 0;

    a {
        border: none;
        color: $hero-parent-page-color;
        z-index: 2;
        background-color: $hero-background;
        padding: 11px 0;

        &:hover {
            color: $hero-parent-page-hover-color;
        }

        &::before {
            width: 4px;
            height: 80px;
            content: '';
            background: $hero-parent-page-slash-color;
            position: absolute;
            z-index: -1;
            transform: rotate(30deg);
            left: 40px;
            top: -40px;
        }
    }
}
