@import '../../styles/app.scss';

.parentLink {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-size: 12px;
    color: $accent;
    margin: 0 0 15px;
    position: relative;
    z-index: 0;

    a {
        border: none;
        color: #231749;
        z-index: 2;
        background-color: white;
        padding: 11px 0;

        &::before {
            width: 4px;
            height: 80px;
            content: '';
            background: #fd5765;
            position: absolute;
            z-index: -1;
            transform: rotate(30deg);
            left: 40px;
            top: -40px;
        }
    }
}
